* {
    padding: 0;
    margin: 0;
}

.logo {
    width: 13%;
    height: 12%;
    padding: 1%;
}

.imagenesCarousel {
    display: flex;
    flex-direction: column;
    padding: 0 30%;
    /*grid-template-columns: 60%;*/
    align-items: center;
    background-image: linear-gradient(#141313, rgb(110, 106, 106));
}

.contenedor .fondo:hover>.capa {
    opacity: 1;
    visibility: visible;
    margin-top: 1px;
    margin-bottom: 50px;
}

.contenedor .fondo:hover {
    transform: scale(1.1);
}

*/
/* .contenedor . @media screen and (min-width: 640px) {
    .texto-encima {}
} */


/* @media screen and (min-width: 1200px) {
    .texto-encima {
        ;
    }
} */

.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.texto {
    display: grid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #140707;
    padding: 10px;
    border: 2px solid gray;
    margin-right: 6%;
    margin-top: 1%;
    margin-left: 7%;
    margin-bottom: 3%;
    border-radius: 10%;
}

.card-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1%;
    border: 2px solid;
    border-radius: 10%;
}

.videos {
    display: grid;
    grid-template-columns: 90%;
    justify-items: center;
    align-items: flex-start;
    padding: 1%;
    margin-top: 1%;
    margin-left: 3%;
    justify-content: space-around;
}

@media screen and (min-width: 1200px) {
    .videos {
        grid-template-columns: 45% 45%;
    }
}

.videosFondo {
    background-image: linear-gradient( white, grey, rgb(7, 4, 4));
}

.imagenes {
    display: grid;
    padding: 5px;
    grid-template-columns: 90%;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (min-width: 640px) {
    .imagenes {
        grid-template-columns: 45% 45%;
    }
}

@media screen and (min-width: 1200px) {
    .imagenes {
        grid-template-columns: 30% 30% 30%;
    }
}

.container img {
    max-height: 500px;
    display: block;
    width: auto;
    height: auto;
    margin: 10px;
    align-self: stretch;
}

.container img:hover {
    transform: scale(1.2);
    transition: all 2s linear;
}

.contacto {
    max-height: 500px;
    display: block;
    width: auto;
    height: auto;
    margin: 10px;
}

.cajacontenedora {
    display: flex;
    background-color: #cfcdcb;
    font-family: 'roboto', sans-serif;
    color: black;
    margin-top: 20px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}


/* si la pantalla es grande, lo muestro en horizontal!*/

@media screen and (min-width: 640px) {
    .cajacontenedora {
        flex-direction: row;
    }
}

.formulario form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: #918b8b;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    grid-template-rows: minmax(20px, auto);
    justify-items: center;
}

.prendas div {
    border: solid 0.20px;
    padding: 0px;
    background-color: black;
}

.fondo {
    background-image: linear-gradient(to #575711, rgba(236, 201, 46, 0.377), #8b8667);
}


/*Novedades*/

.novedades {
    display: grid;
    padding: 5px;
    grid-template-columns: 90%;
    justify-content: space-between;
    align-items: flex-start;
}

.separar {
    background-color: #3b3b37;
    padding: 30%;
}

.title {
    font-size: 500%;
    color: #ccc;
    font-family: Arial, Helvetica, sans-serif
}

.novedadesImg {
    display: flex;
    flex-direction: column;
    padding: 0 30%;
    /*grid-template-columns: 60%;*/
    align-items: center;
}


/*Novedades*/

.section {
    width: 100%;
    display: inline-block;
    background: #ccc;
    height: 60vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
}

.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
}

.footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}


/* Footer links */

.footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}

.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
}

.footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition: all .25s;
    text-decoration: none;
}

.footer-distributed .footer-right a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
    text-decoration: underline;
}


/* Media Queries */


/*@media (max-width: 600px) {
    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        text-align: center;
    }
    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}/*